input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #104406;
    border-radius: 4px;
    box-sizing: border-box;
    
  }
  
  
  div {
    border-radius: 5px;
    background-color: #c0e2d6;
    padding: 20px;
    border-color: #104406;
    align-items: center;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    width: fit-content;
    display: flexbox;
    margin-left: 200px;
    margin-top: 90px;
    margin-right: 90px;
    
  }
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }
